{% extends 'layouts/base.html' %}
{% load static from staticfiles %}

{% block body %}
<div class="container">
    <div class="text-center">
    <div class="p-4">
    <h1>Hello, yo soy richie!</h1>
    <img src="{% static 'img/richie.png' %}" alt="">
    <p class="lead">
    Encuentra a otros como tu que aman sus mascotas.
    </p>    
    <a class="btn btn-outline-primary" href="">Busca</a>
    <a class="btn btn-outline-success" href="">Publica</a>
    </div>
    </div>
</div>
{% endblock %}